body{font-family: "微软雅黑"}
.fl{float: left}
.fr{float: right}
.layui-btn{border-radius: 5px;font-weight: bold;}
.layui-anim{max-height: 200px !important;}
/***消息列表页面样式***/
.meslist{background: #ededed; color: #333;}
/*消息列表标题*/
.meslistit{height: 45px; line-height: 45px; background: #fff; }
.meslistit p{width: 118px; border-right: 1px solid #e6e6e6; background: #ededed; font-size: 14px; color: #12756c; font-weight: bold; text-align: center;}
.meslistit a{width: 113px; height: 26px; line-height: 26px; font-size: 14px; color: #1a8fe7; border: 1px solid #1a8fe7; border-radius: 3px; text-align: center; float: right; margin: 9px 52px 0 0;}
/*消息列表表单*/
.meslist .layui-form,.mesapp .layui-form{margin-left: 30px; height: 38px; padding: 30px 0;}
.meslist .layui-form .layui-form-label,.mesapp .layui-form .layui-form-label{padding: 9px 0; font-size: 14px; width: 74px;}
.meslist .layui-form .layui-input-block{margin-left: 78px;}
.meslist .layui-form .ssapp input,.mesapp .layui-form .ssapp input{width: 200px;}
.meslist .layui-form .tslx input{width: 130px;}
.meslist .layui-form .xxms{width: 280px;}
.meslist .layui-form .layui-form-item .layui-inline{margin-bottom: 0;}
.meslist .layui-form .layui-form-item .layui-inline input[lay-verify=date]{background: url(../images/plus/datebg.png)no-repeat right 10px center #fff; width:200px;}
/*表格*/
.meslist .layui-table,.mesapp .layui-table{margin-left: 30px; width: 90%;}
.meslist .layui-table thead tr,.mesapp .layui-table thead tr{background: #1aa195;}
.meslist .layui-table tr th,.mesapp .layui-table tr th{text-align: center; vertical-align: middle; height: 45px; font-size: 14px; color: #fff;  padding:0; font-weight: bold;}
.meslist .layui-table tr td,.mesapp .layui-table tr td{text-align: center; vertical-align: middle; height: 43px; font-size: 14px; padding:0 18px;}
.meslist .layui-table tr td button,.mesapp .layui-table tr td button{height: 28px; line-height: 28px; border-radius: 5px;padding: 0 14px;}
.meslist .layui-table .layui-btn+.layui-btn,.mesapp .layui-table .layui-btn+.layui-btn{margin-left: 8%;}
.meslist .layui-table thead tr:hover,.mesapp .layui-table thead tr:hover{background: #1aa195 !important;}
.meslist .layui-table tr:hover,.mesapp .layui-table tr:hover{background:#fff !important;}
.meslist .layui-table tr th:nth-child(1){width: 7%;}
.meslist .layui-table tr th:nth-child(2){width: 12%;}
.meslist .layui-table tr th:nth-child(3){width: 20%;}
.meslist .layui-table tr th:nth-child(4){width: 9%;}
.meslist .layui-table tr th:nth-child(5){width: 32%;}
.meslist .layui-table tr th:nth-child(6){width: 20%;} 
/*删除弹窗*/
.layui-layer-title{background: #1a8fe7 !important; color: #fff !important;}
.deltx{height:130px; line-height:145px; width: 360px; background: #fff; display: none; font-size: 16px; text-align: center;}

/***消息编辑页面***/
.mesedit{background: #ededed; color: #333;}
/*消息编辑标题*/
.mesedittit{height: 45px; line-height: 45px; background: #fff; margin-bottom: 30px;}
.mesedittit p{width: 118px; border-right: 1px solid #e6e6e6; background: #ededed; font-size: 14px; color: #12756c; font-weight: bold; text-align: center;}
/*消息编辑表单*/
.mesedit .layui-form{width: 75%; padding: 0 5%; margin: 0 auto;}
.mesedit .layui-form .layui-block span{line-height: 38px; color: #ef0000; font-size: 14px;}
.mesedit .layui-form .layui-block .layui-form-select{width: 200px; margin-bottom: 30px;}
.mesedit .layui-form .marbom20{margin-bottom: 20px;}
.mesedit .layui-form .layui-block .xxms,.mesedit .layui-form .layui-block .xxms input{width: 348px;}
.mesedit .layui-form .layui-block .content,.mesedit .layui-form .layui-block .content textarea{width: 348px; height: 350px;}
.content-top{ background: #fff;overflow: hidden; padding: 30px 0 40px 0;}
#wordCount{position: relative;  width: 60%; }
.words{
	position: absolute;
	bottom: -345px;
	left: 415px;
	color: #333 !important;
}
.phone{
	width: 30%;
	float: right;
	margin-top: -200px;
	margin-right: 65px;
}
.phone span{
	display: block;
	color: red;
	margin-bottom: 35px;
	margin-top: 110px;
}
.phone img{width: 100%;  }
.ts-bottom{background: #fff;padding: 25px 0;  }
.mesedit .layui-form-item{padding-left: 40px;}
.ts-bottom .layui-form-item:first-child{margin-left: 5px;}
.ts-bottom .layui-input-block{margin-left: 25px;}
.layui-form-radioed i{color: #1aa195 !important;  }
.red{color: red;}
.ts-bottom .layui-input-inline{margin-top: 30px; }
.prompt{display:inline-block;margin-top: 38px;margin-left: 10px;}
.layui-btn[type=submit]{
	width: 110px;
	line-height: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #1aa195;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	font-weight: bold;
}
.ts-bottom input[lay-verify=date],#ts-time{background: url(../images/plus/datebg.png)no-repeat right 10px center #fff; width:200px;}
.cf-select{width: 110px;}
.android{display: none;}
@media screen and (max-width: 1366px){
	.mesedit .layui-form{
		width: 95%;
		overflow-x:auto ;
	}
}
/*APP参数设置页*/
/*APP参数顶部切换*/
.mesapp-title{height: 45px; line-height: 45px; background: #fff; }
.mesapp-title .tab-top{
	width: 118px;
    border-right: none;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.mesapp-title .top-click{width: 118px; border-right: 1px solid #e6e6e6; background: #ededed; font-size: 14px; color: #12756c; font-weight: bold; text-align: center;}
/*APP参数搜索*/
.mesapp .layui-form .layui-form-label{padding: 9px 10px;}
.mesapp .layui-form .layui-input-block{margin-left: 100px;}
.mesapp .search{margin-left: 15px;}
/*APP参数表格*/
.mesapp .layui-table{margin-left: 30px; width: 90%;}
.mesapp .layui-table thead tr{background: #1aa195;}
.mesapp .layui-table tr th{text-align: center; vertical-align: middle; height: 45px; font-size: 14px; color: #fff;  padding:0; font-weight: bold;}
.mesapp .layui-table tr td{text-align: center; vertical-align: middle; height: 43px; font-size: 14px; padding:0 18px;}
.mesapp .layui-table tr td button{height: 28px; line-height: 28px; border-radius: 5px;padding: 0 14px;}
.mesapp .layui-table .layui-btn+.layui-btn{margin-left: 8%;}
.mesapp .layui-table thead tr:hover{background: #1aa195 !important;}
.mesapp .layui-table tr:hover{background:#fff !important;}
.add-zs{
	width: 90%;
	text-align: right;
	margin-left: 30px;
	margin-bottom: 20px;
}
#tab2{display: none;}
/*APP参数设置弹框*/
#add-zswz .layui-inline,#add-zswz .layui-block,#add-nrsx .layui-inline,#add-nrsx .layui-block{
	color: #333;
	margin-top: 30px;
}
#add-zswz .wid1,#add-nrsx .wid1{width: 380px;}
.layer-add .layui-layer-btn{text-align: center;padding-bottom: 20px;}
.layui-layer-title{font-weight: bold;}
.layer-add .layui-layer-ico{
	background-position: center !important;
    background: url(../images/plus/cha.png) no-repeat;
}
.layer-add .layui-form-label{text-align: left; padding: 9px 10px 9px 20px; width: 75px; }
.layer-add .layui-input-block{margin-left: 105px;}
.layer-add  .layui-layer-btn0{
	width: 100px;
	line-height: 35px !important;
	height: 35px !important;
	font-weight: bold !important;
	box-sizing: border-box;
	border-radius: 5px !important;
}

/*订单管理*/
/*订单管理标题*/
.ordtitle,.advtitle{height: 65px;  background: #fff; }
.ordtitle>p,.advtitle>p{width: 118px;line-height: 65px; border-right: 1px solid #e6e6e6; background: #ededed; font-size: 14px; color: #12756c; font-weight: bold; text-align: center;float: left}
.ordtitle .layui-form,.advtitle .layui-form{margin-left: 40px !important; padding: 0 !important;display: block;float: left;margin-top: 14px}
.ordtitle .layui-input-inline,.advtitle .layui-input-inline{vertical-align: top}
/*订单管理表单*/
.order .layui-form,.adv .layui-form{margin-left: 30px; padding-top: 30px;}
.order .layui-form .layui-form-label,.adv .layui-form .layui-form-label{padding: 9px 0; font-size: 14px; width: 74px;text-align: center}
.order .layui-form .layui-input-block,.adv .layui-form .layui-input-block{margin-left: 78px;}
.order .layui-form .wid1,.adv .layui-form .wid1{width: 130px;}
.order .layui-form .wid2,.adv .layui-form .wid2{width: 200px;}
.order  input[lay-verify=date],.adv  input[lay-verify=date]{background: url(../images/plus/datebg.png)no-repeat right 10px center #fff; width:200px;}
/*订单管理表格*/
.order .layui-table{margin-left: 30px; width: 100%;color: #333;}
.order .layui-table thead tr,.adv .layui-table thead tr{background: #1aa195;}
.order .layui-table tr th,.adv .layui-table tr th{text-align: center; vertical-align: middle; height: 45px; font-size: 14px; color: #fff;  padding:0; font-weight: bold;}
.order .layui-table tr th.ddnr{min-width: 150px}
.order .layui-table tr td,.adv .layui-table tr td{text-align: center; vertical-align: middle; height: 43px; font-size: 14px; padding:0 5px;}
.order .layui-table tr td button,.adv .layui-table tr td button{height: 28px; line-height: 28px; border-radius: 5px;padding: 0 14px;}
.order .layui-table thead tr:hover,.adv .layui-table thead tr:hover{background: #1aa195 !important;}
.order .layui-table tr:hover,.adv .layui-table tr:hover{background:#fff !important;}
.order .red{color: red}
.order .list-num{margin-left:30px;overflow: hidden;width: 100%
}
.order .list-num .fl{vertical-align: bottom;line-height: 35px;height: 35px;}
.order .list-num .fr a{
	height: 35px;
	line-height: 35px;
	padding: 0 25px;
	display: block;
	color: #1aa195;
	border: 1px solid #1aa195;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	vertical-align: middle;
}
.order .table-box{width: 90%}
/*APP广告位*/
.advtitle .layui-input-inline{margin-right: 20px}
.advtitle .layui-input-inline .layui-btn{margin-right: 10px}
.adv .layui-table{margin-left: 30px; width: 97%;margin-top: 50px;color: #333;}
.add-adv{line-height: 65px;margin-right: 25px}
.adv .layui-table tr th.belong{width: 10% !important;}
.adv .yl{position: relative;text-decoration: underline;cursor: pointer;color: #1E9FFF}
.adv .yl-img{position: absolute;left: 80%;top: 65%;max-width: 640px !important;max-height: 320px;z-index: 11;display: none}
/*删除弹框*/
.del .layui-layer-content{
	line-height: 120px !important;
	text-align: center;
	font-size: 16px !important;
}
/*分页*/
#page{text-align: center;margin-top: 30px;width: 95%;}
#page a, #page span,.page-spr{
	margin-left: 10px !important;
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.page-spr{border: none;}
#page .page-click{background-color: #1aa195;color: #fff;}