/*公共样式*/
html{ font-size:100px;}
@media screen and (max-width:640px){html{font-size:100px;}}
@media screen and (max-width:610px){html{font-size:95px;}}
@media screen and (max-width:580px){html{font-size:90px;}}
@media screen and (max-width:540px){html{font-size:84px;}}
@media screen and (max-width:510px){html{font-size:80px;}}
@media screen and (max-width:480px){html{font-size:75px;}}
@media screen and (max-width:450px){html{font-size:70px;}}
@media screen and (max-width:428px){html{font-size:67px;}}
@media screen and (max-width:406px){html{font-size:63px;}}
@media screen and (max-width:375px){html{font-size:58.6px;}}
@media screen and (max-width:360px){html{font-size:56px;}}
@media screen and (max-width:320px){html{font-size:50px;}}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {margin:0;padding:0;}
body,input,button,textarea{ font-size:0.4rem; outline:none}
body {margin:auto;color:#333; font-size:100px;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; font-size:0.4rem; overflow: scroll;}
fieldset,img {border:0}
ol,ul,li {  list-style:none}
address,em {font-style:normal}
a { color:#333; text-decoration:none; outline:none}
table { border-collapse:collapse}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);margin: 0;padding: 0}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑"
}

@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2){
header{
	font-size: 1.7em;
}
}
body{
	font-size: 12px;
	background: #fff;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 14px;
	font-weight: normal;
	font-family: "微软雅黑"

}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.fl{
	float: left;
}
.fr{
	float: right;
}
.warp{
	height: 100%;
	width: 100%;
	max-width: 960px;
	min-width:320px;
	margin: 0 auto;
	color: #333;
}
/*首页样式*/
.header{margin: 0.7rem 0.25rem 0 0.25rem;}
.logo{
	width: 1.45rem;
	height: 1.45rem;
	border-radius: 50%;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	display: inline-block;
}
.name{
	display: inline-block;
	padding: 15px 0;
	vertical-align: top;
	margin-left: 0.3rem;
	font-size: 0.3rem;
}
.name p{line-height: 0.5rem}
.logo img{width: 100%}
.center{margin: 0 0.25rem}
.type-list h3 {
	height: 1rem;
	border-radius: 0.5rem;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	display: block;
	margin-top: 0.4rem;
	line-height: 1rem;
	text-align:center;
	font-size: 0.34rem;
	margin-bottom: 0.25rem;
}
/*标题点击加的样式*/
.title-click{
	font-weight: bold;
	background-color: #ff9257 !important;
	color: #fff;
	border: 2px solid #ff9257 !important;
}
.listen .content{
	border-bottom: 1px solid #e6e6e6;
	font-size: 0.28rem;
	overflow: hidden;
	margin-top: 0.25rem;
}
.listen .content:first-child{margin-top: 0}
.listen .content .left {
	display: inline-block;
	width: 1.6rem;
	line-height: 0.55rem;
	height: 0.55rem;
	border: 1px solid #ff9257;
	color: #ff9257;
	text-align: center;
	border-radius: 0.39rem;
	vertical-align: top;
	float: left;
	margin-bottom: 0.25rem;
}
.listen .content .right{float: left;width: 4rem;margin-top: 0.08rem}
.listen .content .right a{
	display: inline-block;
	float: left;
	text-align: left;
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
}
.listen .content .right .eq1{
	padding-right: 0.25rem;
	border-right: 1px solid #e6e6e6;
}
.listen .content .right .eq1:last-child{border: none}
/*轮播样式*/
.show{margin-top: 0.4rem}
.introduce .content{
	position: relative;
	width: 100%;
	overflow: hidden;
    padding-top: 0.03rem;
}
.introduce #swiper-container1 {
	width: 85%;
	height: 6.1rem;
}
.introduce .swiper-slide .box{
	margin:0 0.12rem ;
	height: 6rem;
	box-shadow:0 0px 5px rgba(0,0,0,.2);
	border: 1px solid #e5e5e5;
	position: relative;
}
.introduce .arrow-left,.introduce .arrow-right{
	position: absolute;
	top: 0;
	width: 0.45rem;
	height: 6rem;
	z-index: 999;
	background-color: rgba(255,255,255,0.7) !important;
}
.introduce .arrow-left {left: 0px;background: url("../images/left.png") no-repeat right center ;background-size: 0.3rem}
.introduce .arrow-right {  right: 0px;background: rgba(255,255,255,0.5) url("../images/right.png") no-repeat left center;background-size: 0.3rem}
/*课程简介*/
.introduce .swiper-title{width: 95%;position: relative;line-height: 0.8rem;height: 0.8rem;border-bottom: 1px solid #e5e5e5;margin: 0 auto}
.introduce .swiper-title h4{text-align: center;font-size: 0.32rem;}
.introduce .swiper-title span{position: absolute;left: 0.1rem;display: inline-block;color: #ff9257;font-size: 0.32rem;}
.introduce .swiper-slide .text{width: 95%;overflow: hidden;margin: 0 auto}
.introduce .swiper-slide .text .left-name{
	float: left;
	font-size: 0.28rem;
	width:15%;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 0.44rem;
	margin-top: 0.2rem;
	border-radius: 2px;
}
.introduce .yjc{margin: 0.2rem 0;width: 84%}
.introduce .yjc img{width: 0.9rem;display: inline-block;margin-left: 0.15rem;float: left}
.introduce .yjc p{font-size: 0.24rem;line-height: 0.4rem;margin-left: 0.1rem;width: 71%;display: inline-block}
.introduce .bxjs{margin:0.2rem 0 0.2rem 0.15rem;}
.introduce .bxjs li{margin-bottom: 0.4rem;font-size: 0.22rem}
.introduce .bxjs li:last-child{margin: 0}
.introduce .bxjs li span{
	display: inline-block;
	margin-right: 0.1rem;
	width: 0.3rem;
	height: 0.3rem;
	background: url("../images/ico3.png") no-repeat center;
	background-size: 0.3rem;
}
.introduce .btn{width: 70%;margin: 0 auto;position: absolute;bottom: 0.25rem;left: 50%;margin-left: -35%}
.introduce .btn a{
	width: 1.6rem;
	line-height: 0.6rem;
	height: 0.6rem;
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	color: #fff;
	background-color: #ff9257;
	font-size: 0.28rem;
}
.introduce .bhkc{margin-top: 0.2rem}
.introduce .mar{margin-left: 0.15rem;margin-right: 0.25rem}
.introduce .bhkc li{
	padding-left: 0.3rem;
	background: url("../images/ico2.png") no-repeat left center;
	background-size: 0.25rem;
	text-align: left;
	font-size: 0.24rem;
	margin-bottom: 0.2rem;
}
.introduce .bhkc li:last-child{margin: 0}
.introduce .kc1,.introduce .kc2,.introduce .kc3{width: 81%;margin-bottom: 0.2rem;margin-left: 0.15rem}
.introduce .kc1 li{margin-top: 0.2rem;font-size: 0.24rem}
.introduce .kc2 li{margin-top: 0.1rem;font-size: 0.24rem}
.introduce .kc2 li:first-child{margin-top: 0.2rem}
.introduce .ml60{margin-left: 0.6rem}
.introduce .mt80{margin-top: 0.8rem}
.introduce .kc3 li{margin-top: 0.2rem;font-size: 0.24rem}
/*师资简介轮播*/
.teacher .content{
	position: relative;
	width: 100%;
	overflow: hidden;
    padding-top: 0.03rem;
}
.teacher #swiper-container2 {
	width: 80%;
	height: 3.49rem;
}
.teacher  .img-bor{
	margin:0 0.2rem ;
	box-shadow:0 0px 5px rgba(0,0,0,.2);
	border: 1px solid #e5e5e5;
	padding: 0.2rem;
	position: relative;
}
.teacher .arrow-left,.teacher .arrow-right{
	position: absolute;
	top: 0;
	width: 0.45rem;
	height: 3.55rem;
	z-index: 999;
	background-color: rgba(255,255,255,0.7) !important;
}
.teacher .arrow-left {left: 0px;background: url("../images/left2.png") no-repeat right center ;background-size: 0.3rem}
.teacher .arrow-right {  right: 0px;background: url("../images/right2.png") no-repeat left center;background-size: 0.3rem}
.teacher  .img-bor img{width: 100%}
.teacher  .img-bor .describe{
	margin: 0.25rem;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	color: #ffd429;
	line-height: 0.34rem;
	padding: 0.1rem;
}
.describe h4{font-size: 0.3rem;text-align: center}
/*弹框*/
.back{background-color: #000;opacity: 0.5;position: absolute;  top: 0px;left: 0;z-index: 111}
.alert{
	position: absolute;
	width: 5.8rem;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	z-index: 999;
	top: 8%;
	left: 50%;
	margin-left: -2.9rem;
	font-family: '微软雅黑';
}
.alert .title{
	position: relative;
	 font-size: 0.3rem;
	 text-align: center;
	 line-height: 1rem;
	 height: 1rem;
 }
.alert .title span{
	position: absolute;
	display: block;
	width: 0.3rem;
	height: 1rem;
	background: url("../images/close.png") center no-repeat;
	background-size: 0.3rem;
	right: 0.35rem;
	top:0;
}
.alert .line{
	font-size: 0.28rem;
	margin-bottom: 0.3rem;
}
.alert .line label,.line input,.line select{
	display: inline-block;
	line-height: 0.75rem;
}
.alert .line label{font-size: 0.28rem;text-align: right;width: 2rem}
.alert .line input,.line select{
	font-size: 0.26rem;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	padding-left: 0.1rem;
	box-sizing: border-box;
	text-align: left;
	height: 0.75rem;
}
.alert .line option{width: 100%}
.alert .line .wid1{width: 3.4rem}
.alert .line .wid2{width: 2.8rem;margin-right: 0.2rem}
.alert input[type="submit"]{
	margin: 0.4rem auto;
	display: block;
	width: 4rem;
	line-height: 0.75rem;
	height: 0.75rem;
	background-color: #ff9257;
	color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 0.3rem;
}